/*******************************************************************
GLOBAL
*******************************************************************/
body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-family: "Lato", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 2rem;
    margin-top: 0;
    text-rendering: optimizeLegibility
}

html {

}

body {

}


/*******************************************************************
FONTS
*******************************************************************/
@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswald-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*******************************************************************
LAYOUT
*******************************************************************/

/*******************************************************************
NAV
*******************************************************************/
.navbar {
  color: white;
}

/*******************************************************************
FEATURED POSTS
*******************************************************************/
#featured-posts {

}

.featured-post {


}

/*******************************************************************
RECENT POSTS
*******************************************************************/
#recent-posts {

}

.recent-post {

}
